input{
    margin: 5px 0;
}
fieldset{
    width: 250px;
    padding: 10px 20px;
    background-color:rgb(3, 197, 245);
    margin-bottom: 10px;
    
}

legend{
    background-color: black;
    padding: 0 10px;
    color: rgb(3, 197, 245);
    
}

label{
    padding: 10px;;
}

h1{
    font-size: 20px;
    padding: 10px;
}

input#inpt1, input#inpt2 {
    width: 50px;
}

html{
    padding-left: 38%;
}
